<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular.min.js"></script>
        <script src="main.js"></script>
        <link type="text/css" rel="stylesheet" href="main.css"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body ng-controller="Data">
        <div id="parameters">Параметры</div>
        <a href="" ng-click="getData()"><div id="get">Получить</div></a>
        <div id="window" ng-model="window"></div>           
    </body>

</html>