#get{
    border-radius: 5px;
	border: 2px solid black;
	background-color: #708090;
	height: 2em;
	width: 30em;
	text-align: center;
	font-size:25px;
	margin-top:20px;
	margin-bottom:20px;
	color:#FFFFFF;
    }
	
#window{
    border: 2px solid black;
	margin-top:5px;
	width:80em;
	height:30em;
	background-color:#FFFFFF;
    }
	
	
body{
    background-color: #8EE5EE;
    }

a{
    text-decoration: none;
    }	

table{
    width: 100%;
	}

td, th{
	border:1px solid black;
	}	



	